@import '~@/var.scss';
@import '~@/mixin.scss';

.index-list {
  &.list-hidden {
    display: none;
  }
  &.list-visible {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  .wrapper-input {
    border: 1px solid #eff3f6;
    border-radius: 100px;
    height: 50px;
    width: 80%;
    padding: 0;
    margin: 0 auto;
    background-color: #f0f3f7;
    margin-bottom: 22px;
    padding-left: 10px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
  }

  .wrapper-button {
     width: 80%;
    margin: 0 auto;
    border-radius: 100px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin-bottom: 18px;
    color: #fff;
    background-color: #3388ff;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 4px;
    transition: all ease 0.3;
  }
  .logo {
    display: block;
    width: 54px;
    height: 68px;
    margin: 0 auto;
    margin-top: 77px;
  }
  .title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bolder;
    margin: 21px 0;
    @include font-family(600);
  }
  .desc {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bolder;
    font-size: 12px;
    margin-bottom: 20px;
    color: #999;
    font-weight: 400;
  }
 
  .mark {
    font-size: 12px;
    color: #888;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    &-text {
      margin-right: 2px;
    }
  }
  .mark-customer-service{
    color: #1890ff;
  }
  .flex{
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
