@import '~@/var.scss';
@import '~@/mixin.scss';

page {
  .propmtTit {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
  }
  .propmtBox {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    width: 230px;
    height: 64px;
    background: #F0F3F7;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 16px;
    text-align: left;
  }
}

.mechat-page {
  width: 100vw;
  height: 100vh;
  // 没有起作用scrollView
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  .chat {
    width: 96%;
    height: 1px;
    margin: 0 auto;
    flex-grow: 1;
    // ::-webkit-scrollbar {
    //   display: none;
    //   width: 0;
    //   height: 0;
    //   color: transparent;
    // }
  }
  .user {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }

  .assistant {
    display: flex;
    justify-content: space-evenly;
  }

  .avatar {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 5px;
  }

  .user-avatar {
    width: 30px;
    height: 30px;
    background-color: #df4;
    border-radius: 10px;
    margin-left: 5px;
  }

  .user .content {
    background-color: #8ae75c;
  }

  .content {
    width: 80%;
    font-size: 14px;
    background-color: #fff;
    padding: 15px 15px;
    border-radius: 5px;


  }

  .chatbox {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 6px 16px 40px 16px;
    position: fixed;
    bottom: 0;
  }

  .input {
    width: 96%;
    height: 50px;
    padding: 8px 5px;
    background: #F0F3F7;
    border-radius: 4px;
    margin-right: 8px;
  }

  .send {
    width: 31px;
    height: 31px;

  }




}