@import '~@/var.scss';
@import '~@/mixin.scss';

.mechat-page {
  width: 100vw;
  height: 100vh;
  // 没有起作用scrollView
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;

  .breath-waper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .logo{
      display: block;
      width: 51px;
      height: 51px;
    }
  }
  .chat {
    width: 96%;
    height: 1px;
    margin: 0 auto;
    flex-grow: 1;
  }

  .user {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }

  .assistant {
    display: flex;
    justify-content: space-evenly;
  }

  .avatar {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 5px;
  }

  .user-avatar {
    width: 30px;
    height: 30px;
    background-color: #df4;
    border-radius: 10px;
    margin-left: 5px;
  }

  .user .content {
    background-color: #8ae75c;
  }

  .content {
    width: 80%;
    font-size: 14px;
    background-color: #fff;
    padding: 15px 15px;
    border-radius: 5px;
  }

  .chatbox {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 6px 16px 40px 16px;
    position: fixed;
    bottom: 0;
  }

  .input {
    width: 96%;
    height: 50px;
    padding: 15px 5px;
    background: #F0F3F7;
    border-radius: 4px;
    margin-right: 5px;
  }

  .send {
    width: 31px;
    height: 31px;

  }
}