@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1681915528548'); /* IE9*/
  src: url('iconfont.eot?t=1681915528548#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("iconfont.woff2?t=1681915528548") format("woff2"),
  url("iconfont.woff?t=1681915528548") format("woff"),
  url('iconfont.ttf?t=1681915528548') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1681915528548#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="iconfont-"], [class*=" iconfont-"] {
  font-family: 'iconfont' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.iconfont-close_icon:before { content: "\ea01"; }
.iconfont-down_icon:before { content: "\ea02"; }
.iconfont-edit_icon:before { content: "\ea03"; }
.iconfont-git:before { content: "\ea04"; }
.iconfont-rise_icon:before { content: "\ea05"; }
.iconfont-search_icon:before { content: "\ea06"; }
.iconfont-tag:before { content: "\ea07"; }
.iconfont-tag_icon2:before { content: "\ea08"; }
.iconfont-tag_icon3:before { content: "\ea09"; }
.iconfont-user:before { content: "\ea0a"; }
