.parse {
    display: flex;
    .k_html {
        flex: 1;
        white-space: pre-wrap;
        word-break: break-all;
        text-align: justify;
        user-select: text;
        -webkit-user-select: text;
        .hightColor {
            padding-right: 12px;
            color: #3388FF;
            position: relative;
            &::after{
                position: absolute;
                right: 0;
                top: 0;
                display: block;
                content: '';
                width: 9px;
                height: 8px;
                background-image:url("../../../../../src/assets/lightsearch.png") ;
                background-position: left center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    image {
        width: 100% !important;
    }
}