@import '~@/var.scss';
@import '~@/mixin.scss';

.index-page {
  height: 100vh;
  box-sizing: border-box;
  background-color: $page-background-color;
  @include iphonex-safe-padding-bottom-minius(15px);
  .index-tabbar-container {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: calc(constant(safe-area-inset-bottom) - 15px);
    padding-bottom: calc(env(safe-area-inset-bottom) - 15px);
    background-color: #fff;
  }
  .index-tabbar.nut-tabbar {
    padding: 14px 0;
    --nutui-font-size-3: 18px;
    border-bottom: 0;
    @include font-family(600);
  }
  .index-tabbar {
    height: 50px;
    box-sizing: border-box;
    --nutui-gray-1: #888;
  }
  .nut-tabbar-item--active {
    --nutui-brand-color: #000000;
  }
}


