@import '~@/mixin.scss';
@import '~@/var.scss';

.car-control-add-friend {
  &-divider {
    border-top: 1px solid $divider-color;
    margin-bottom: 7px;
  }
  &-tip {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    @include font-family(500);
    color: $text-gray-color;
    line-height: 14px;
    overflow: hidden;
    &:active {
      color: darken($color: $text-gray-color, $amount: 10);
    }
  }
  .car-control-add-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  &-tip-icon {
    font-size: 12px;
    $scale: (9 / 12);
    transform: scale($scale);
    margin-left: 4px;
  }
}
