@import '~@/var.scss';

.collect-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  padding: 0 5px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1;
  color: #000;
  background-color: transparent;
  border: 1PX solid #000;
  &-icon {
    font-size: 12px;
    width: 1em;
    height: 1em;
    line-height: 1;
    margin-right: 2px;
  }
  &--primary {
    &:active {
      background-color: rgba(#000, 0.4);
    }
    &.collect-button--collected {
      border-color: $color-primary;
      color: $color-primary;
      background-color: rgba($color-primary, 0.25);
      &:active {
        background-color: rgba($color-primary, 0.4);
      }
    }
  }
  &--pink {
    &:active {
      background-color: rgba($color-pink, 0.4);
    }
    &.collect-button--collected {
      border-color: $color-pink;
      color: $color-pink;
      background-color: rgba($color-pink, 0.25);
      &:active {
        background-color: rgba($color-pink, 0.4);
      }
    }
  }
}
