@import '~@/var.scss';
@import '~@/mixin.scss';

.artificial-takeover {
  margin-bottom: 12px;
  .content {
    display: flex;
    height: 210px;
  }
  .content-left {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    margin-right: 35px;
  }
  .content-right {
    position: relative;
  }
  .gray-divider {
    position: absolute;
    top: 100px;
    left: -18px;
    width: 130px;
    height: 4px;
    background-color: #F5F5F5;
    transform: rotate(-12deg);
  }
  .percent-chart {
    flex: 0 0 auto;
    width: 130px;
    height: 130px;
  }
  .chart-title {
    font-size: 12px;
    color: #000000;
    line-height: 17px;
    margin-top: 10px;
  }
  .right-item {
    font-size: 12px;
    color: #000000;
    line-height: 17px;
  }
  .item1 {
    margin-top: 25px;
  }
  .item2 {
    margin-top: 55px;
  }
  .right-value {
    font-size: 16px;
    color: $color-primary;
    @include font-family(600);
  }
}
