
.carControl-progress-bar {
  position: relative;
  height: 10px;
  background: #f5f5f5;
  border-radius: 5px;
  overflow: hidden;
  .carControl-progress-bar-upper {
    height: 100%;
    background: linear-gradient(135deg, #d377cd 0%, #1b99ff 49%, #46ebd5 100%);
  }
}
